
<div class="menu-bar">
    <app-menu-bar></app-menu-bar>
</div>
<app-menu-title></app-menu-title>
    <h2>Certificações e Cursos</h2>

    <div class="Certifications">

        <app-small-card 
        image ="https://media.licdn.com/dms/image/v2/D562DAQG-axTUBBcfJA/profile-treasury-image-shrink_800_800/profile-treasury-image-shrink_800_800/0/1724251368793?e=1743789600&v=beta&t=T8vTa9InQb-Qg4ssuy_mOPAItSeUcAWeh2F47XYZpmA"
        title_card = "Certificação Scrum"
        >
        </app-small-card>

        <app-small-card 
        image ="https://media.licdn.com/dms/image/v2/D562DAQEHGe0OwsA-XQ/profile-treasury-image-shrink_800_800/profile-treasury-image-shrink_800_800/0/1724251797023?e=1743789600&v=beta&t=P2kEy25Y23i-Kf8HmruIVqKJswh2lXtAOTAUNHiKKZU"
        title_card = "Certificação C#"
        >
        </app-small-card>

        <app-small-card 
        image ="https://media.licdn.com/dms/image/v2/D4D2DAQF408Sj8AvDiw/profile-treasury-document-cover-images_480/profile-treasury-document-cover-images_480/0/1729261793445?e=1743789600&v=beta&t=KE4wKh83NGmYz86yZ_fddMTXASL-IQZfSp0lBNcXzHY"
        title_card = "Formação .NET"
        >
        </app-small-card>

        <app-small-card 
        image ="https://media.licdn.com/dms/image/v2/D4D2DAQFc8-GV3guxcA/profile-treasury-document-cover-images_480/profile-treasury-document-cover-images_480/0/1729261457728?e=1743789600&v=beta&t=09L-imUAvj2p9rMamrfM4E2WltCCGdJLUFDrD9syjcY"
        title_card = "Certificado de .NET e QA"
        >
        </app-small-card>
